/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+CU+Guides&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NZ+Basic:wght@100..400&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Playwrite NZ Basic", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

header {
  background-color: #eee;
  padding: 20px 0;
}

header a {
  text-decoration: none;
  color: #000;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .menu {
  display: flex;
  list-style: none;
  gap: 20px;
}

/* 
Display 
- none
- block
- inline
- inline-block
- flex
- grid
*/

/* p {
  display: none
} */
/* 
h3 {
  display: inline;
}

ul {
  width: 300px;
  background-color: #e85;
}

ul a {
  text-decoration: none;
  background-color: rgb(150, 2, 170);
  display: block;
}

.btn {
  padding: 20px 40px;
  background-color: #e85;
  color: white;
  border-radius: 10px;
  margin: 20px 0;
}

.box {
  width: 24.6%;
  height: 200px;
  background-color: #e85;
  border: 1px solid black;
  display: inline-block;
} */

.item {
  width: 30%;
  text-align: center;
  padding: 30px 8px;
  border-radius: 15px;
  border: 1px solid #ccc;
  transition: all .5s ease;
}

.item:hover {
  /* background-color: rgb(1, 114, 194); */

  box-shadow: 0 0 15px #9f9f9f;
}

.item .image {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #f70;
  padding: 20px;
  border-radius: 40px 40px 40px 0;
}

.item p {
  font-size: 14px;
  color: #5b5b5b;
  font-weight: 300;
}

.item a {
  text-decoration: none;
  font-weight: bold;
  color: #f70;
}

.item h3 {
  transition: all .5s ease;
}

.item:hover h3 {
  margin-top: 30px;
}