* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.box {
  width: 100px;
  height: 100px;
  color: #fff;
}

.box1 {
  background-color: #59a;
  /* margin: 10px; */
  /* margin: 10px 20px; */
  /* margin: 10px 20px 30px; */
  /* margin: 10px 20px 30px 40px; */
  /* margin-{top, right, bottom, left}: 10px; */
  /* margin-bottom: 20px; */
  /* margin-inline-start: 20px; */
  /* margin-inline-end: 20px; */
  /* margin-left: 20px; */
  margin: 50px;
  border: 2px solid #000;
  padding: 20px;
  /* box-sizing: border-box; */
}

/* rtl.css 
.box1 {
  margin-left: 0;
  margin-right: 20px;
} */
.box2 {
  background-color: #a3b;
}

.avatar {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: bottom;
  /* border: 1px solid #000; */
  border: 1px dashed #000;
  /* border: 1px dotted #000; */
  /* border: 1px double #000; */
  /* border: 5px inset #f6d900; */
  /* border: 5px outset #f6d900; */
  border-radius: 19% 81% 25% 75% / 74% 20% 80% 26%;
}

.hero {
  /* background-color: #59a; */
  background-image: url(../images/639060Image1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  /* background: url(../images/639060Image1.jpg) no-repeat center center fixed; */
  color: #fff;
  margin: 400px 0;
}

.hero .overlay {
  padding: 200px 0;
  /* background-color: #000; */
  /* opacity: .3; */
  background-color: rgba(0, 0, 0, 0.5);
}