@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

/* Header Style */
header {
  background-color: #30364F;
  padding: 20px 0;
}

header a {
  color: #F0F0DB;
  text-decoration: none;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 20px;
}

header ul a {
  transition: all 0.3s ease;
}

header ul a:hover {
  color: #ACBAC4;
}

.wrapper {
  background-color: #e96;
  /* height: 400px; */
  display: flex;
  /* flex-direction: column; */
  /* justify-content: space-evenly; */
  /* justify-content: center; */
  /* align-items: flex-end; */
  flex-wrap: wrap;
  /* column-gap: 10px;
  row-gap: 10px; */
  gap: 10px;
  overflow: auto;
}

.wrapper .item {
  width: 150px;
  height: 150px;
  background-color: rgb(38, 156, 219);
  border: 1px solid black;
  flex-shrink: 0;
  /* margin: 10px; */
  /* flex-grow: 1; */
}

.item1 {
  /* order: 2; */
  /* flex-grow: 2; */
  flex-grow: 1;
}

.item2 {
  /* order: 3; */
  flex-grow: 10;
}

.item3 {
  /* order: 1; */
  /* flex-grow: 1; */
}

.grid-wrapper {
  display: grid;
  /* grid-template-columns: 1fr 2fr 1fr 3fr; */
  /* grid-template-columns: repeat(3, 1fr);
  gap: 10px; */
  grid-template-rows: 100px 100px 100px;
  grid-template-areas:
    "one two three"
    "four two three"
    "four two five";
  margin: 20px 0;
  gap: 10px;
}

.grid-wrapper .item {
  min-height: 100px;
  background-color: #9c0d5e;
  border: 1px solid black;
  color: #fff;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-wrapper .item:nth-child(1) {
  grid-area: one;
}

.grid-wrapper .item:nth-child(2) {
  grid-area: two;
}

.grid-wrapper .item:nth-child(3) {
  grid-area: three;
}

.grid-wrapper .item:nth-child(4) {
  grid-area: four;
}

.grid-wrapper .item:nth-child(5) {
  grid-area: five;
}

.page-title {
  text-align: center;
  /* background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  color: #fff;
  padding: 80px 0;
  background: #2A7B9B;
  background: linear-gradient(27deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 49%, rgba(242, 212, 41, 1) 100%);
}

.page-title h1 {
  margin: 0;
}

.about {
  padding: 40px 0;
  text-align: center;
}

.about .items {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.about .item {
  width: 30%;
}

.about .item img {
  width: 100%;
}

footer {
  background-color: #30364F;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 0;
}

footer a {
  color: #21d0e3;
  text-decoration: none;
}